body {
    font-family: 'Roboto', sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: #1c500c;
    align-items: center;
    padding: 0px 100px;
}

.headerleft {
    font-size: 24px;
    font-weight: bold;
    color: #F9FAF8;
}

.headerright {
    font-size: 18px;
    color: #E5E7EB
}

.hero {
    display: flex;
    justify-content: space-between;
    padding: 70px 100px;
    background-color: #1c500c;
    gap: 20px;
}

.mainright {

}

.mainleft {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.herotext {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.supportingtext {
    font-size: 18px;
    color: #E5E7EB
}

.randomcontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    padding: 20px 120px;
}

.fourpics {
    display: flex;
    gap: 12px;
}

.picinfo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.smallimage {
    border-radius: 20%;
}

.smallphototext {
    text-align: center;
}

.quotecontainer {
    background-color: #E5E7EB;
    padding: 60px 160px;
}

.calltoactioncontainer {
    display: flex;
    background-color: #7b797e;
    justify-content: space-around;
    margin: 60px 160px;
    border-radius: 5px;
    padding: 40px 0px;
}

.calltoactionleft {
    display: flex;
    flex-direction: column;
}

ul {
    display: flex;
    list-style: none;
    gap: 12px;
}

.button {
    width: 90px;
    height: 30px;
    background-color: #b9beba;
    color: white;
    border-radius: 4px;
    font-weight: bold;
}

.buttondark {
    border: none;
}

.buttonlight {
    border: 1px solid white;
}

h1 {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
}

#quote {
    font-style: italic;
    font-weight: 50; /*Look into how to get this even lighter */
    font-size: 26px;
}

#quoteattrib {
    font-weight: bold;
    font-size: 20px;
    text-align: right;
}

#Calltoactionbig {
    font-weight: bold;
    font-size: 16px;

}

span {
    color: white;
    font-size: 12px;
}